@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F37 Ginger';
  src: url('../fonts/F37Ginger-Bold.woff2') format('woff2'),
    url('../fonts/F37Ginger-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'F37 Ginger';
  src: url('../fonts/F37Ginger-Thin.woff2') format('woff2'),
    url('../fonts/F37Ginger-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'F37 Ginger';
  src: url('../fonts/F37Ginger-Light.woff2') format('woff2'),
    url('../fonts/F37Ginger-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'F37 Ginger';
  src: url('../fonts/F37Ginger.woff2') format('woff2'),
    url('../fonts/F37Ginger.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
    url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: extrabold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
    url('../fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: F37 Ginger, Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 14px;
    background-clip: padding-box;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #edf0f4;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #9e9fa2;
  }

  ::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #777779;
  }

  input[type='range'] {
    height: 0.3125rem;
    border-radius: 0.5rem;
    background: white;
    background-image: linear-gradient(#5e82ad, #5e82ad);
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
      border: none;
      outline: none;
    }

    &::-webkit-slider-thumb {
      height: 0.9rem;
      width: 0.9rem;
      border: 2px solid #5e82ad;
      border-radius: 50%;
      background: white;
      transition: background 0.3s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      height: 0.6rem;
      width: 0.6rem;
      border: 2px solid #5e82ad;
      border-radius: 50%;
      background: white;
      transition: background 0.3s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
    }

    &::-ms-thumb {
      height: 0.9rem;
      width: 0.9rem;
      border: 2px solid #5e82ad;
      border-radius: 50%;
      background: white;
      transition: background 0.3s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
    }

    &::-webkit-slider-thumb:hover {
      scale: 1.2;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-moz-range-thumb:hover {
      scale: 1.25;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-ms-thumb:hover {
      scale: 1.2;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-webkit-slider-thumb:active {
      scale: 1.2;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-moz-range-thumb:active {
      scale: 1.25;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-ms-thumb:active {
      scale: 1.2;
      transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::-webkit-slider-runnable-track {
      border: none;
      background: transparent;
      box-shadow: none;
      appearance: none;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      border: none;
      background: transparent;
      box-shadow: none;
      appearance: none;
      -webkit-appearance: none;
    }

    &::-ms-track {
      border: none;
      background: transparent;
      box-shadow: none;
      appearance: none;
      -webkit-appearance: none;
    }
  }
}
